* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-image: linear-gradient(to bottom, #434343 0%, black 200%);
  /* background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%); */
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

body {
  max-height: 100vh;
}

#cross {
  width: 10vh;
}

#circle {
  width: 7.5vh;
}

.intro {
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
}

.square {
  border: 1vh solid whitesmoke;
  height: 47vh;
  width: 47vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  height: 15.1vh;
  width: 15.1vh;
  background: transparent;
  border: 1px whitesmoke solid;
  transition: all 0.3s ease;
  cursor: pointer;
}

.box:hover {
  background: #646363;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 20vh;
  gap: 5vh;
}

.output {
  height: 5vh;
  width: 25vh;
  color: white;
  text-align: center;
}

.playagain {
  width: 20vh;
  height: 5vh;
  border-radius: 5vh;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.playagain:active {
  color: white;
  background: #d81e5b;
  scale: 0.9;
}
